<% include /ejs/header.ejs %>
    <div class="head">
    	<img src="static/lib/img/Code_for_Seoul_logotype.png" id="head-code-namu-logo">
    	<span id="head-service-title">의원님을 부탁해</span> 
    </div>
    <div class="body">
        <div class="body-item">
        	<%=item1 %>
        </div>
        <div class="body-item">
        	<%=item2 %>
        </div>
        <div class="body-item">
        	<%=item3 %>
        </div>
        <div class="body-item">
        	<%=item4 %>
        </div>
        <div class="body-item">
        	<%=item5 %>
        </div>
        <div class="body-item">
        	<%=item6 %>
        </div>
    </div>
<% include /ejs/footer.ejs %>
